#map {
     height: 500px;
     width: 500px; 
     margin: auto;
}

body {
     background-color: darkslategray;
}

h1 {
     color: bisque;
     text-align: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
     font-family: 'Courier New', Courier, monospace;
     color: blanchedalmond;
     text-align: center;
}

input {
     background-color: aquamarine;
     margin-bottom: 60px;
}

textarea {
     background-color: aquamarine;
     margin-top: auto;
     margin-left: auto;
}

iframe {
     z-index: 2000;
     position: fixed;
     bottom: 3%;
     left: 3%;
}
h3 {
     color: bisque;
     text-align: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2 {
     color: bisque;
     text-align: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}