#map {
     height: 500px;
     width: 500px; 
     margin: auto;
}

body {
     background-color: darkslategray;
}

h1 {
     color: bisque;
     text-align: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
     font-family: 'Courier New', Courier, monospace;
     color: blanchedalmond;
     text-align: center;
}

input {
     background-color: aquamarine;
     margin: auto
}

textarea {
     background-color: aquamarine;
     margin-top: auto;
     margin-left: auto;
}