#map {
     height: 500px;
     width: 500px; 
     margin: auto;
}

body {
     background-color: darkslategray;
}

h1 {
     color: bisque;
     text-align: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
     font-family: 'Courier New', Courier, monospace;
     color: blanchedalmond;
     text-align: center;
}

input {
     background-color: aquamarine;
     margin-bottom: 60px;
}

textarea {
     background-color: aquamarine;
     margin-top: auto;
     margin-left: auto;
}

iframe {
     z-index: 2000;
     position: fixed;
     bottom: 3%;
     left: 3%;
}
h3 {
     color: bisque;
     text-align: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2 {
     color: bisque;
     text-align: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#video {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 0, 0, 0.3); /* leicht durchsichtiges Rot */
  pointer-events: none; /* damit man weiter klicken kann */
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 9999;
}
#overlay.active {
  opacity: 1;
}


.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
