#map {
     height: 500px;
     width: 500px; 
     margin: auto;
}

body {
     background-color: darkslategray;
}

h1 {
     color: bisque;
     text-align: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
     font-family: 'Courier New', Courier, monospace;
     color: blanchedalmond;
     text-align: center;
}

input {
     background-color: aquamarine;
     margin-bottom: 60px;
}

textarea {
     background-color: aquamarine;
     margin-top: auto;
     margin-left: auto;
}

iframe {
     z-index: 2000;
     position: fixed;
     bottom: 3%;
     left: 3%;
}
h3 {
     color: bisque;
     text-align: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2 {
     color: bisque;
     text-align: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#video {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 0, 0, 0.3); /* leicht durchsichtiges Rot */
  pointer-events: none; /* damit man weiter klicken kann */
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 9999;
}
#overlay.active {
  opacity: 1;
}


.slider {
    display: block;
    margin: auto;
}